### R_test_compare_GCPs

* Read in some UTM GCP locations and compute distances
* First, install `tidyverse` using `conda install -c r r-tidyverse `

In [5]:
library(tidyverse)

In [6]:
# read in the target locations picked from the JALBTCX ortho

fn <- "D:/crs/proj/2018-08_JALBTCX_experiment/r_experiment/centered_points.csv"
targets <- read_csv(file=fn, col_names=FALSE)

# remove last column...not needed
targets <- targets[,c(1,2,3)]

# rename columns (could have put a first row in file with column labels)
names(targets)[names(targets)=="X1"]<-"label"
names(targets)[names(targets)=="X2"]<-"easting"
names(targets)[names(targets)=="X3"]<-"northing"

targets

Parsed with column specification:
cols(
  X1 = col_character(),
  X2 = col_double(),
  X3 = col_double(),
  X4 = col_double()
)

   label  easting  northing
1  P1C    384946.7 4621209
2  T25C   384930.8 4621045
3  P6C    385164.6 4621150
4  T26C   385142.2 4621009
5  P2C    385450.6 4621075
6  T27C   385286.6 4620806
7  T23C   385559.0 4620869
8  T29C   385689.5 4620734
9  P4C    385776.8 4621056
10 T28C   385739.5 4620917
11 T30C   385945.7 4620617
12 T22C   385941.8 4620856
13 G1C    385982.5 4621076
14 T31C   386196.5 4620602
15 T32C   386337.3 4620596
16 T18C   386527.3 4620671
17 T33C   386573.8 4620386
18 T19C   386767.8 4620372
19 T11C   386656.2 4620794
20 T13C   386858.9 4620936
21 T20C   386619.6 4621019
22 T17C   386320.1 4620787
23 T21C   386106.4 4620798
24 P5C    386166.2 4621043
25 G2C    386310.9 4621024
26 DISCOC 386215.6 4621516
27 T6C    386152.3 4621469
28 G3C    385924.9 4621594
29 G4C    386360.8 4621528
30 T5C    386169.4 4621201
31 T8C    386314.6 4621317
32 T1C    386001.2 4621284

In [12]:
# read in the surveyed target locations
# this uses the base version of read.csv just to mix it up
fn2 <- "D:/crs/proj/2018-08_JALBTCX_experiment/r_experiment/targets_greatmarsh_rtk_edited.csv"
gcps <- read.csv(file=fn2, header=TRUE, sep=",")

# rename the columns
names(gcps)[names(gcps)=="Note"]<-"label"
names(gcps)[names(gcps)=="Local_N"]<-"northing"
names(gcps)[names(gcps)=="Local_E"]<-"easting"
names(gcps)[names(gcps)=="Local_Z"]<-"elevation"

head(gcps)

  northing easting  elevation label
1 4620640  386751.2 1.6393    TARGET9
2 4621317  386314.7 6.2556    T8
3 4621317  386314.7 6.2573    T8
4 4621317  386314.7 6.2363    T8
5 4621469  386152.2 9.1236    T6
6 4621469  386152.2 9.1103    T6

In [14]:
# sort
gcps <- gcps[order(gcps[,'easting'], gcps[,'northing'], gcps[,'elevation'], gcps[,'label']), ]
gcps

   northing easting  elevation label
19 4621045  384930.8  1.4434   T25
36 4621209  384946.7  1.4630   P1
18 4621009  385142.1  1.4518   T26
32 4621150  385164.6  1.5575   P6
17 4620807  385286.7  1.6320   T27
35 4621075  385450.6  1.6220   P2
20 4620869  385559.0  1.5075   T23
15 4620734  385689.6  1.6204   T29
16 4620917  385739.5  1.5344   T28
34 4621056  385776.9  1.5630   P4
42 4621594  385924.9  3.2540   GLITTER-WEST
38 4621594  385924.9  3.2883   G3
21 4620856  385941.8  1.4494   T22
14 4620617  385945.7  1.6698   T30
41 4621076  385982.5  2.4071   G1
31 4621285  386001.1  7.7577   T1
30 4621285  386001.1  7.7547   T1
29 4621285  386001.1  7.7760   T1
22 4620798  386106.5  1.6315   T21
7  4621469  386152.2  9.1033   T6
6  4621469  386152.2  9.1103   T6
5  4621469  386152.2  9.1236   T6
33 4621042  386166.2  1.5388   P5
8  4621200  386169.4 10.2482   T5
9  4621200  386169.4 10.2339   T5
10 4621201  386169.4 10.2389   LASTONE=T5
13 4620602  386196.4  1.6093   T31
43 4621516  386215.4  4.4769   DISCO
39 4621024  386310.8  1.6486   G2
4  4621317  386314.7  6.2363   T8
2  4621317  386314.7  6.2556   T8
3  4621317  386314.7  6.2573   T8
26 4620787  386320.1  1.5839   TARGET17
12 4620596  386337.4  1.6870   T32
40 4621528  386360.8  2.6960   GLITTER-EAST
37 4621528  386360.9  2.6843   G4
25 4620671  386527.3  1.6226   TARGET18
11 4620386  386573.8  1.7186   TARGET33
23 4621019  386619.6  1.4216   TARGET20
28 4620794  386656.3  1.4609   TARGET11
1  4620640  386751.2  1.6393   TARGET9
24 4620372  386767.6  1.5753   TARGET19
27 4620936  386858.9  1.4908   TARGET13

In [26]:
# make sure we know how to define a function to calculate distance between two x, y, z points
distance <- function(x1,y1,z1,x2,y2,z2)
{
    d = sqrt( (x2-x1)^2 + (y2-y1)^2 + (z2-z1)^2 )
    return(d)
}

In [30]:
# now test it
distance(1,0,0,0,0,0)
distance(1,0,1,0,0,0)
distance(1,1,1,0,0,0)
distance(1.,1.,1.,1.,1.,1.)

[1] 1

[1] 1.414214

[1] 1.732051

[1] 0

In [32]:
# how do I get one row from a dataframe?
gcps[1,]

   northing easting  elevation label
19 4621045  384930.8 1.4434    T25

In [33]:
# make a new function that takes two rows as input variables
# first, check to make sure we are getting the numbers we want
df_dist <- function(dr1, dr2){
    dr1[,1]
}

In [34]:
# this should be northing of first row
df_dist(gcps[1,],gcps[2,])

[1] 4621045

In [39]:
# see if we can do vector math
gcps[1,1:3]-gcps[2,1:3]
rowSums((gcps[1,1:3]-gcps[2,1:3])^2)
sqrt(rowSums(gcps[1,1:3]-gcps[2,1:3])^2)

   northing easting  elevation
19 -164.19  -15.9064 -0.0196

      19
27211.37

     19
180.116

In [57]:
# redefine the function in terms of dataframe rows
df_dist <- function(dr1, dr2){
    d = sqrt(rowSums(dr1[,1:3]-dr2[,1:3])^2)
    return(d)
}

In [43]:
# test it
df_dist(gcps[1,],gcps[2,])

     19
180.116

In [48]:
# make an empty dataframe
nrows <- nrow(gcps)
dis <- data.frame('dist'=rep(NA,nrows))
head(dis)

  dist
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA

In [65]:
# old-school loop. Surprisingly, this does not throw an error when i=nrows
for(i in 1:nrow(gcps)){
    dis[i,] <- df_dist( gcps[i,], gcps[i+1,])
}
head(dis)
tail(dis)

  dist
1 180.1160
2   4.6503
3 163.7061
4 221.8125
5 432.6744
6  98.0818

   dist
38 678.3973
39 188.2639
40  58.4049
41 251.7013
42 654.9148
43       NA

In [71]:
# add that column to our dataframe
gcps['dist_to_next']<-dis
# and list the ones that look pretty close
gcps[gcps['dist_to_next']<3.,]

   northing easting  elevation label        dist_to_next
42 4621594  385924.9  3.2540   GLITTER-WEST 3.320000e-02
31 4621285  386001.1  7.7577   T1           8.800000e-03
30 4621285  386001.1  7.7547   T1           7.050000e-02
7  4621469  386152.2  9.1033   T6           5.060000e-02
6  4621469  386152.2  9.1103   T6           2.930000e-02
8  4621200  386169.4 10.2482   T5           3.130000e-02
9  4621200  386169.4 10.2339   T5           9.880000e-02
4  4621317  386314.7  6.2363   T8           1.850000e-02
2  4621317  386314.7  6.2556   T8           1.130000e-02
40 4621528  386360.8  2.6960   GLITTER-EAST 2.591873e-10
NA      NA        NA      NA   NA                     NA

In [ ]:
# this is not really what we want, because it does not show the value above